Question 1
Consider the following Python module:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [3]:
a = 0
def b():
    global a
    a = c(a)
    print(f"The result after executing b(), a = {a}") 
def c(a):
    return a + 2
b()  
b()  
b()  
print(">>> a ", a)

The result after executing b(), a = 2
The result after executing b(), a = 4
The result after executing b(), a = 6
>>> a  6

After importing the module:

First call to "b()":
- The function 'b()' is called.
- Inside b(), it uses the global variable 'a'.
- It runs the line 'a = c(a)', which means the function 'c()' is called with the current value of 'a' (starting at 0).
- 'c(0)' returns 2 (0 + 2).
- The value of 'a' is now updated to 2.

Second call to "b()":
- 'b()' is called again.
- The global variable 'a' is still in use.
- It runs 'a = c(a)', this time with the updated value of 'a' (now 2).
- 'c(2)' returns 4 (2 + 2).
- The value of 'a' is now updated to 4.

Third call to "b()":
- 'b()' is called once more.
- The global variable a is used again.
- It runs 'a = c(a)', now with a being 4.
- 'c(4)' returns 6 (4 + 2).
- The value of 'a' is now updated to 6.

 Final value of "a":
- After calling 'b()' three times, the final value of 'a' becomes 6.

Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [13]:
def fileLength(filename):
    try:
        with open(filename, 'r') as infile:
            content = infile.read()
            return len(content)
    except FileNotFoundError:
        print(f"File {filename} not found.")
print("File Length of Filelength.txt:", fileLength('Filelength.txt'))
fileLength('idterm.py')

File Length of Filelength.txt: 123
File idterm.py not found.

Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the y-
axis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [15]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__() 
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  

k = Kangaroo(0, 0)
print(k)  
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = { 洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐3洧논
+ 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [33]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)  
    else:
        collatz(3 * x + 1) 
collatz(1)
print()
collatz(10)

1

10
5
16
8
4
2
1

Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [31]:
def binary(n):
    
    if n < 2:
        print(n, end='') 
    else:
         
        binary(n // 2)
        
        print(n % 2, end='')

print("Binary of 0:") 
binary(0)  
print() 
print("Binary of 1:") 
binary(1)  
print() 
print("Binary of 3:") 
binary(3)  
print() 
print("Binary of 9:") 
binary(9)  
print()

Binary of 0:
0
Binary of 1:
1
Binary of 3:
11
Binary of 9:
1001

Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [59]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False
        self.heading_level = 0

    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = True
            self.heading_level = int(tag[1])

    def handle_endtag(self, tag):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            print(' ' * (self.heading_level - 1) + data.strip())

infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [93]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    if depth < 0:  
        return
    
    print(' ' * indent + url)
    
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        
        links = [link.get('href') for link in soup.find_all('a', href=True)]
        
        for link in links:
            if link.startswith('http'):  
                webdir(link, depth - 1, indent + 1)
    except Exception as e:
        print(' ' * indent + f"Error accessing {url}: {e}")

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test2.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test3.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season

In [95]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('weather_data.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS Weather (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature_C REAL,
    Rainfall_mm REAL
)
''')

data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('INSERT INTO Weather VALUES (?, ?, ?, ?, ?)', data)
conn.commit()

query_a = pd.read_sql_query("SELECT Temperature_C FROM Weather;", conn)
print("a) All the temperature data:")
print(query_a)

query_b = pd.read_sql_query("SELECT DISTINCT City FROM Weather;", conn)
print("\nb) All the cities, without repetition:")
print(query_b)

query_c = pd.read_sql_query("SELECT * FROM Weather WHERE Country = 'India';", conn)
print("\nc) All the records for India:")
print(query_c)

query_d = pd.read_sql_query("SELECT * FROM Weather WHERE Season = 'Fall';", conn)
print("\nd) All the Fall records:")
print(query_d)

query_e = pd.read_sql_query("""
SELECT City, Country, Season 
FROM Weather 
WHERE Rainfall_mm BETWEEN 200 AND 400;
""", conn)
print("\ne) City, country, and season with average rainfall between 200 and 400 mm:")
print(query_e)

query_f = pd.read_sql_query("""
SELECT City, Country 
FROM Weather 
WHERE Season = 'Fall' AND Temperature_C > 20 
ORDER BY Temperature_C ASC;
""", conn)
print("\nf) City and country with average Fall temperature above 20 degrees:")
print(query_f)

query_g = pd.read_sql_query("""
SELECT SUM(Rainfall_mm) AS Total_Rainfall 
FROM Weather 
WHERE City = 'Cairo';
""", conn)
print("\ng) Total annual rainfall for Cairo:")
print(query_g)

query_h = pd.read_sql_query("""
SELECT Season, SUM(Rainfall_mm) AS Total_Rainfall 
FROM Weather 
GROUP BY Season;
""", conn)
print("\nh) Total rainfall for each season:")
print(query_h)

conn.close()

a) All the temperature data:
    Temperature_C
0            24.8
1            28.4
2            27.9
3            27.6
4             4.2
5             8.3
6            15.7
7            10.4
8            13.6
9            20.7
10           27.7
11           22.2

b) All the cities, without repetition:
     City
0  Mumbai
1  London
2   Cairo

c) All the records for India:
     City Country  Season  Temperature_C  Rainfall_mm
0  Mumbai   India  Winter           24.8          5.9
1  Mumbai   India  Spring           28.4         16.2
2  Mumbai   India  Summer           27.9       1549.4
3  Mumbai   India    Fall           27.6        346.0

d) All the Fall records:
     City         Country Season  Temperature_C  Rainfall_mm
0  Mumbai           India   Fall           27.6        346.0
1  London  United Kingdom   Fall           10.4        218.5
2   Cairo           Egypt   Fall           22.2          4.5

e) City, country, and season with average rainfall between 200 and 400 mm:
     City         Country  Season
0  Mumbai           India    Fall
1  London  United Kingdom  Winter
2  London  United Kingdom    Fall

f) City and country with average Fall temperature above 20 degrees:
     City Country
0   Cairo   Egypt
1  Mumbai   India

g) Total annual rainfall for Cairo:
   Total_Rainfall
0            27.6

h) Total rainfall for each season:
   Season  Total_Rainfall
0    Fall           569.0
1  Spring           192.3
2  Summer          1706.5
3  Winter           230.1

Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [107]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

upper_words = [word.upper() for word in words]
print("Uppercase words are : ",upper_words)  

lower_words = [word.lower() for word in words]
print("Lowercase words are :",lower_words)  

word_lengths = [len(word) for word in words]
print("Length of the words are:",word_lengths)  

combined_info = [[word.upper(), word.lower(), len(word)] for word in words]
print("Combination of all the info:",combined_info) 

long_words = [word for word in words if len(word) >= 4]
print("The Long words are: ",long_words)

Uppercase words are :  ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
Lowercase words are : ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Length of the words are: [3, 5, 5, 3, 5, 4, 3, 4, 3]
Combination of all the info: [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
The Long words are:  ['quick', 'brown', 'jumps', 'over', 'lazy']